<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>

  <appSettings>
    <!-- ###########################汇付天下配置############################-->
    <add key="nspos.pfx_password" value="lantel2019.fxf" />
    <add key="nspos.pfx_path" value="Certs/nspos/lantel2019.pxf.pfx" />
    <add key="nspos.cer_OCA31_path" value="certs/nspos/CFCA_ACS_OCA31.cer" />
    <add key="nspos.cer_CA_path" value="certs/nspos/CFCA_ACS_CA.cer" />
    <add key="nspos.notifyUrl" value="http://test.priest.ink:8050/" />
    <add key="nspos.appid" value="wx7d7a394a192ab065" />
    <add key="nspos.wxsecret" value="f069b2264040d9ba8302199631cb6df1" />
    <add key="nspos.memberId" value="310000016000594425" />
  </appSettings>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
