@model WebApplication2.Models.HomeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @foreach (var item in Model.user)
        {
            <a>@item.uid</a><a>@item.psd</a>
        }
    </div>
</body>
</html>
